.navbar {
    margin: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.navbar a {
    text-decoration: none;
    color:rgb(22, 4, 101)
}
#logo{
    margin-left: 20px;
    width: 80px; 
    height: auto;
    float: left;
    border-radius: 80%;

}
.center-links{
    flex: 2;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    gap: 25px;
    font-weight: bold;
    transition: transform 0.03s ease;
}
.center-links a:hover{
    color:rgb(9, 2, 38);
    transform: translateY(-3px);
}
.right-links{
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    gap: 15px; 
    font-weight: 540;
}
.right-links a{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(103, 156, 247);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgb(50, 122, 128);
}
.right-links a:hover{
    box-shadow: 0 4px 20px rgb(31, 70, 73);
    background-color: rgb(227, 215, 189);
}
.headers{
    position: fixed;
    padding: 10px;
    top:0;
    right: 0;
    width: 100%;
    background-color: rgb(220, 214, 201);
    z-index: 1000; 
}
* {
  box-sizing: border-box;
}
/* mobile consideration for headers */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .center-links {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    .right-links {
        margin-top: 15px;
        justify-content: center;
    }
}